<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spinner-message" *ngIf="dataLoading">
    <ion-spinner name="circles"></ion-spinner>
    <h4>Just fetching your data. Don't go anywhere!</h4>
  </div>
  <ion-col>
    <ion-card class="welcome-card" [ngClass]="{ dataLoading: dataLoading }">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Now that your app has been created, you'll want to start building out
          features and components. Check out some of the resources below for
          next steps.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-content>
