<ion-header>
  <ion-toolbar>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-button (click)="returnToHome()">
  <ion-icon slot="start" name="star"></ion-icon>
  Left Icon
</ion-button>
<h4 *ngIf="errorOccured">{{errorMessage}}</h4>
<ion-col *ngIf="!errorOccured">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-img class="card-profile-image" src="{{chosenUser.picture}}"></ion-img>
      <ion-card-subtitle>{{chosenUser.city}}, {{chosenUser.state}}</ion-card-subtitle>
      <ion-card-title>{{chosenUser.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="dogUrl">
      <h4>My Favorite Dog</h4>
      <ion-img src="{{dogUrl}}"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-col>

</ion-content>
