<ion-header>
  <ion-toolbar>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-button (click)="returnToHome()">
  <ion-icon slot="start" name="star"></ion-icon>
  Left Icon
</ion-button>
<h4 *ngIf="errorOccured">{{errorMessage}}</h4>
<ion-col *ngIf="!errorOccured">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-img class="card-profile-image" src="{{chosenUser.picture}}"></ion-img>
      <ion-card-subtitle>{{chosenUser.city}}, {{chosenUser.state}}</ion-card-subtitle>
      <ion-card-title>{{chosenUser.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="randomGifExists">
      <h4>My Favorite Gif</h4>
      <p>
       {{randomGif.title}}
      </p>
      <ion-img src="{{randomGif.thumbnail}}" (click)="seeGif()">
        <span>Tap to View</span>
      </ion-img>
    </ion-card-content>
    <ion-card-content *ngIf="showGifIframe">
      <iframe src="{{randomGif.url}}" frameborder="0"></iframe>
    </ion-card-content>
  </ion-card>
</ion-col>

</ion-content>
